<span class="copyright">
    <div class="visible-on-phone-only">
        <div class="uk-width-*@s">
            {{ _('© Copyright. All Rights Reserved.') }} 
        </div>
        <div class="uk-width-*@s">
            {{ _('15675 Dufferin Street.') }}
        </div> 
        <div class="uk-width-*@s">
            {{ _('King City, Ontario, L7B 1K5,') }}
        </div>
        <div class="uk-width-*@s">
            {{ _('1-800-661-1818') }}
        </div>
    </div>
</span>
<span class="copyright">
    <div class="hidden-on-phone">
        {{ _('© Copyright. All Rights Reserved. 15675 Dufferin Street. King City, Ontario, L7B 1K5, 1-800-661-1818') }}
    </div>
</span>
