{% set edit_url = url('club-site.pages-edit', club_pk=club.pk, page_pk=page.pk) %}
{% if page.full_path %}
    {% set preview_url = club_url(club, 'generic', request, currentsite=request.site, destinationsite=club.site, kwargs={'full_path': page.full_path}) %}
{% else %}
    {% set preview_url = club_url(club, 'home', request, currentsite=request.site, destinationsite=club.site) %}
{% endif %}

<tr class="row-{{page.depth}} {% if page.depth == 0 %}uk-background-muted{% endif %}">
    <td>
        <span>
            <a class="indent-{{page.depth}}" href="{{ edit_url }}">{% if page.depth > 1 %}-- {% endif %}{{ page.name }}</a>
        </span>
    </td>
    <td><i class="fa fa-{{page.icon_class}}" title="Page is visible to {{page.visiblity_type}}" data-uk-tooltip></i></td>
    <td><a href="{{ edit_url }}">{{ page.full_path }}/</a></td>
    <td>
    {% if page.is_locked %}
        <span data-uk-icon="icon: check"></span>
    {% else %}
        <span data-uk-icon="icon: close"></span>
    {% endif %}
    </td>
    <td class="uk-text-right">
    <a
        class="uk-margin-small-left"
        data-uk-icon="icon: pencil"
        href="{{ edit_url }}"
    ></a>

    <a
        class="uk-margin-small-left"
        data-uk-icon="icon: link"
        href="{{ preview_url }}"
        target="_blank"
    ></a>

    <a
        class="uk-margin-small-left"
        data-uk-icon="icon: trash"
        href="{{ url('club-site.pages-delete', club_pk=club.pk, page_pk=page.pk) }}"
    ></a>
    </td>
</tr>

{% for page in page.children.distinct().order_by('sort') %}
    {% include 'cms/club_site/includes/pagerow.jinja' %}
{% endfor %}   