{% extends 'clubs/events/base.jinja' %}

{% from 'clubs/includes/macros.jinja' import checkbox, form_field, textarea %}

{% block before_main %}
  <div class="wrapper">
    {% for message in messages %}
      <div class="message">{{ message }}</div>
    {% endfor %}
  </div>
{% endblock %}

{% block after_main %}
  <div class="wrapper">
    <form action="" method="post" novalidate>
      <div class="two-columns">
        {{ form.non_field_errors() }}
        {{ csrf_input(csrf_token) }}
        {{ form_field(form.first_name) }}
        {{ form_field(form.last_name) }}
        {{ form_field(form.email) }}
        {{ form_field(form.phone) }}
        {{ form_field(form.location) }}
        {{ form_field(form.preferred_date) }}
        {{ form_field(form.type_of_event) }}
        {{ form_field(form.number_of_guests) }}
        {{ textarea(form.additional_info) }}
        <div class="field">
          {{ form.captcha }}
        </div>
      </div>
      <input type="submit" value="{{ _('Submit') }}" />
    </form>
  </div>
{% endblock %}
