<div style="{% if page.get_image('bgc-request-information', skip_corp=True) %}background-image: url('{{ page.get_image('bgc-request-information', skip_corp=True) }}');{% endif %}">
<a href="{{ url('membership.inquiry') }}">
<span>{{ _('Request Information') }}</span>
</a>
{{ image_selector(page, 'bgc-request-information') }}
</div>

<div style="{% if page.get_image('bgc-membership-bg') %}background-image: url('{{ page.get_image('bgc-membership-bg') }}');{% endif %}">
<a href="{{ corp_url('membership.clubs') }}" target="_blank">
<span>{{ _('Our Clubs') }}</span>
</a>
{{ image_selector(page, 'bgc-membership-bg') }}
</div>    

<div style="{% if page.get_image('bgc-events-bg') %}background-image: url('{{ page.get_image('bgc-events-bg') }}');{% endif %}">
<a href="{{ url('events') }}">
<span>{{ _('Events') }}</span>
</a>
{{ image_selector(page, 'bgc-events-bg') }}
</div>

<div style="{% if page.get_image('bgc-game-improvement-bg') %}background-image: url('{{ page.get_image('bgc-game-improvement-bg') }}');{% endif %}">
<a href="{{ url('game-improvement') }}">
{{ image_selector(page, 'bgc-game-improvement-bg') }}
<span>{{ _('Game Improvement') }}</span>
</a>
</div>