<p>
  Bonjour {{ user.first_name }},
</p>
<p>
  Nous sommes heureux de vous annoncer le lancement des nouveaux sites Web du {{ club.name }} et
  de ClubLink. Ces nouveaux sites sont construits sur une plateforme entièrement interactive,
  facile à naviguer. Tous les outils auxquels vous êtes habitués pour administrer votre compte de
  membre, réserver des heures de départ, accéder au registre des membres de votre club d’attache
  et consulter les dernières nouvelles ainsi que le calendrier d’activités y sont facilement
  accessibles, également sur téléphone portable.
</p>
<p>
  Étant donné qu’il s’agit d’un nouveau système, vous devrez créer un nouveau mot de passe pour
  accéder au portail des membres. Pour ce faire, veuillez cliquer sur le lien ci-dessous:
  <br /><a href="{{ reset_url }}">CLIQUEZ ICI RÉINITIALISER VOTRE MOT DE PASSE</a>
</p>
<p>
  Une fois que vous aurez ouvert une session, nous vous invitons à vous familiariser avec le
  nouveau site Web. Nous l’avons élaboré de façon qu’il soit plus convivial, suivant les
  commentaires reçus au fil des ans à propos de notre site précédent.
</p>
<p>
  Nous avons bien hâte de live vos nouveaux commentaires.
</p>
<p>
  Au plaisir,
</p>
<p>
  Services aux membres
  <br />15675 Dufferin Street
  <br />King City, ON, L7B 1K5
  <br />1-800-273-5113
  <br /><a href="mailto:memberservices@clublink.ca">memberservices@clublink.ca</a>
  <br /><a href="https://www.clublink.ca/">www.clublink.ca</a>
</p>
