<p>
  Good morning {{ user.first_name }},
</p>
<p>
  We are pleased to announce the launch of the new {{ club.name }} and ClubLink website.
</p>
<p>
  The new sites have been built on a fully responsive platform that is easy to navigate. All the
  familiar tools for managing your account, booking tee times, accessing the club roster, reading
  Club news or viewing the calendar are very accessible and most importantly, mobile friendly.
</p>
<p>
  As this is a completely new system, you will need to create a new password to to access the
  member portal.  To do so, please click the link below:
  <br /><a href="{{ reset_url }}">CLICK HERE TO RESET PASSWORD</a>
</p>
<p>
  Once you're able to log in successfully, please familiarize yourself with the new website.
  We've organized things to be more user friendly based upon feedback over the years with our
  previous site.
</p>
<p>
  We look forward to receiving your feedback.
</p>
<p>
  If you encounter any issues, please email Member Services at
  <a href="memberservices@clublink.ca">memberservices@clublink.ca</a>. If you
  need to speak to a Member Services representative, please call 1-800-273-5113.
</p>
<p>
  Member Services Call Center Hours of Operation
  <br />Weekdays  8 a.m. – 5:30 p.m.
  <br />Weekends  8 a.m. – 2 p.m.
</p>
<p>
  Regards,
</p>
<p>
  ClubLink Member Services
  <br />15675 Dufferin Street
  <br />King City, ON, L7B 1K5
  <br />1-800-273-5113
  <br /><a href="mailto:memberservices@clublink.ca">memberservices@clublink.ca</a>
  <br /><a href="https://www.clublink.ca/">www.clublink.ca</a>
</p>
