<p>
  Dear {{ user.first_name }},
</p>
<p>
  The password on your account has been changed.
</p>
<p>
  If you did not make this change, please contact a Member Services Associate at 1-800-273-5113
  or <a href="mailto:memberservices@clublink.ca">memberservices@clublink.ca</a>.
</p>
<p>
  Thank you,
</p>
<p>
  ClubLink Member Services
  <br />15675 Dufferin Street
  <br />King City, ON, L7B 1K5
  <br />1-800-273-5113
  <br /><a href="mailto:memberservices@clublink.ca">memberservices@clublink.ca</a>
  <br /><a href="https://www.clublink.ca/">www.clublink.ca</a>
</p>
