<p>
  Cher {{ user.first_name }},
</p>
<p>
  Le mot de passe lié à votre compte a été modifié.
</p>
<p>
  Si vous n’avez pas effectué vous-même ce changement, veuillez communiquer avec un associé de nos
  Services aux membres au 1-800-273-5113 ou à
  <a href="mailto:memberservices@clublink.ca">memberservices@clublink.ca</a>.
</p>
<p>
  Merci,
</p>
<p>
  Services aux membres ClubLink
  <br />15675 Dufferin Street
  <br />King City, ON, L7B 1K5
  <br />1-800-273-5113
  <br /><a href="mailto:memberservices@clublink.ca">memberservices@clublink.ca</a>
  <br /><a href="https://www.clublink.ca/">www.clublink.ca</a>
</p>
