{% extends 'cms/assets/base.jinja' %}

{% from 'cms/includes/forms.jinja' import render_field %}

{% block main %}
  <h3>{{ _('New File') }}</h3>

  <form method="post" action="" class="uk-form-stacked" enctype="multipart/form-data" novalidate>
    {{ csrf_input(csrf_token) }}

    {{ render_field(form.name) }}
    {{ render_field(form.file) }}

    <input type="submit" class="uk-button uk-button-primary" value="{{ _('Save') }}" />
  </form>
{% endblock %}
