{% extends 'certificates/base.jinja' %}

{% block auth_button %}{% endblock %}

{% block main %}
  <h1>{{ _('Oops!') }}</h1>
  <div class="success-message">
    <p>{{ _('An error occured on the server.') }}</p>
    {% if request.sentry and request.sentry and request.sentry.id %}
      <p>
        {{ _('If you need assistance, you may reference this error as <strong>{id}</strong>.').format(id=request.sentry.id)|safe }}
      </p>
<script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
<script>
  Raven.showReportDialog({
    eventId: '{{ request.sentry.id }}',

    // use the public DSN (dont include your secret!)
    dsn: 'https://3b3bd45f5afb443a8cd82ab5a34941c4@sentry.io/250675'
  });
</script>

    {% endif %}
  </div>
{% endblock %}
