{% extends 'cms/corp_site/base.jinja' %}

{% block main %}
  <h3>{{ _('Events Galleries') }}</h3>

  <ul uk-tab>
    {% for site in sites %}
      <li class="{% if site == current_site %}active{% endif %}"><a href="#">{{ site.name }} ({{site.domain}})</a></li>
    {% endfor %}
  </ul>  

  <ul class="uk-switcher uk-margin">

  {% for site in sites %}
    <li class="{% if site == current_site %}active{% endif %}">

    <div class="uk-padding-small uk-background-muted">
      <a class="uk-button uk-button-primary" href="{{ url('corp-site.events-gallery-add', site_pk=site.id) }}">
        {{ _('Add New') }}
      </a>
      <a
          class="uk-align-right uk-button uk-button-secondary"
          href="{{ url('corp-site.events-gallery-reorder') }}"
      >
        {{ _('Manage Order') }}
      </a>
      </div>

      <table class="uk-table uk-table-small uk-table-hover">
        <thead>
          <tr>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Slug') }}</th>
            <th class="uk-text-right">{{ _('Actions') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for gallery in site.event_galleries.all() %}
            {% set edit_url = url('corp-site.events-gallery-edit', gallery_pk=gallery.pk) %}
            <tr>
              <td><a href="{{ edit_url }}">{{ gallery.name }}</a></td>
              <td>{{ gallery.slug }}</td>
              <td class="uk-text-right">
                <a
                    class="uk-margin-small-left"
                    data-uk-icon="icon: pencil"
                    href="{{ edit_url }}"
                ></a>

                <a
                    class="uk-margin-small-left"
                    data-uk-icon="icon: trash"
                    href="{{ url('corp-site.events-gallery-delete', gallery_pk=gallery.pk) }}"
                ></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if galleries.count() == 0 %}
        <p class="uk-text-center">{{ _('No galleries exist.') }}</p>
      {% endif %}

    </li>
  {% endfor %}

  </ul>

{% endblock %}
