{% extends 'cms/corp_site/base.jinja' %}

{% from 'cms/includes/forms.jinja' import render_field %}

{% block main %}
  <h3>{{ _('Add a New Page') }}</h3>

  <form method="post" action="" class="uk-form-stacked" novalidate>
    {{ csrf_input(csrf_token) }}

    {{ render_field(form.name_en) }}
    {{ render_field(form.name_fr) }}
    {{ render_field(form.parent) }}
    {{ render_field(form.slug) }}
    {{ render_field(form.should_redirect) }}
    {{ render_field(form.internal_redirect) }}
    {{ render_field(form.external_redirect) }}
    {{ render_field(form.show_in_main_menu) }}
    {{ render_field(form.list_in_main_menu_subnav) }}
    {{ render_field(form.name_in_main_menu_subnav_en) }}
    {{ render_field(form.name_in_main_menu_subnav_fr) }}
    {{ render_field(form.show_page_nav) }}
    {{ render_field(form.list_in_child_page_nav) }}
    {{ render_field(form.name_in_child_page_nav_en) }}
    {{ render_field(form.name_in_child_page_nav_fr) }}
    {{ render_field(form.opens_in_new_window) }}
    {{ render_field(form.site_id) }}

    <input type="submit" class="uk-button uk-button-primary" value="{{ _('Save') }}" />
  </form>
{% endblock %}
