{% extends 'cms/club_site/base.jinja' %}

{% block main %}
    <h3>{{ _('Event RSVP') }}</h3>
        
                
    {% set registrant = rsvp.user %}
    <div class="uk-padding">
        <form method="POST" style="inline-block">
            {% csrf_token %}
            <div class="uk-grid">
                <div class="uk-width-1-3">
                    <span class="uk-text-lead">
                        {{registrant.first_name}} {{registrant.last_name}}
                    </span>
                    <div class="uk-text-meta">
                        {{registrant.membership_number}}
                    </div>
                    <div class=
                    "uk-text-small">
                        {{registrant.option_club.name}}
                    </div>
                </div>
                <div class="uk-width-2-3">
                    <div class="uk-text-bold">
                        {{event.name}}
                    </div>
                    <div class="uk-text">
                        {{event.club.name}}
                    </div>
                    <div uk-icon-"icon: exclamation"></div><em class="uk-text-small">Max guests per RSVP: {{event.max_guests_per_rsvp}}</em><br><br>
                    <div class="uk-grid">
                        <div>
                            <div>Start</div>
                            <div class="uk-text-meta">
                                {{ event.start_datetime.strftime('%B %-d, %-I:%M%p') }}
                            </div>
                        </div>
                        <div>
                            <div>End</div>
                            <div class="uk-text-meta">
                                {{ event.end_datetime.strftime('%B %-d, %-I:%M%p') }}
                            </div>
                        </div>
                    </div>

                    <input type=
                    "hidden" name="registrant" value="{{registrant.id}}">

                    <br>
                    
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="adults-{{registrant.id}}">Adults</label>
                            <input id="adults-{{registrant.id}}" class="uk-input" type="number" name="adults" value=1 min=0 max={{event.max_guests_per_rsvp}}>
                        </div>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label" for="children-{{registrant.id}}">Children</label>
                            <input id="children-{{registrant.id}}" class="uk-input" type="number" name="children" value=0 min=0 max={{event.max_guests_per_rsvp}}>
                        </div>
                    </div>
                    {% if event.custom_question_1 %}
                    <br>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label" for="custom_question_1-{{registrant.id}}">{{event.custom_question_1}}</label>
                            <input id="custom_question_1-{{registrant.id}}" class="uk-input" type="text" name="custom_question_1">
                        </div>                                                
                    {% endif %}
                    {% if event.custom_question_2 %}
                    <br>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label" for="custom_question_2-{{registrant.id}}">{{event.custom_question_2}}</label>
                            <input id="custom_question_2-{{registrant.id}}" class="uk-input" type="text" name="custom_question_2">
                        </div>                                                
                    {% endif %}            
                    {% if event.custom_question_3 %}
                    <br>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label" for="custom_question_3-{{registrant.id}}">{{event.custom_question_3}}</label>
                            <input id="custom_question_3-{{registrant.id}}" class="uk-input" type="text" name="custom_question_3">
                        </div>                                                
                    {% endif %}                                                                          
                    {% if event.custom_question_4 %}
                    <br>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label" for="custom_question_4-{{registrant.id}}">{{event.custom_question_4}}</label>
                            <input id="custom_question_4-{{registrant.id}}" class="uk-input" type="text" name="custom_question_4">
                        </div>                                                
                    {% endif %}  
                    {% if event.custom_question_5 %}
                    <br>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label" for="custom_question_5-{{registrant.id}}">{{event.custom_question_5}}</label>
                            <input id="custom_question_5-{{registrant.id}}" class="uk-input" type="text" name="custom_question_5">
                        </div>                                                
                    {% endif %}                                              
                </div>
            </div>
            <hr>
            <div class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="submit">Confirm</button>
            </div>
        </form>
    </div>

{% endblock %}