<p>
  A reservation has been made for the following event.
</p>

{% if bywhom %}
<p>
  <strong>This reservation was made by {{bywhom.first_name}} {{bywhom.last_name}}
  </strong>
</p>
{% endif %}
<p>
  <span style="text-decoration: underline">EVENT INFORMATION:</span>
  {% if rsvp.user.membership_number %}
  <br />Member:
  <strong>{{ rsvp.user.membership_number }}</strong>
  {% endif %}
  <br />Event:
  <strong>{{ rsvp.event.name }}</strong>
  <br />Date:
  <strong>{{ rsvp.event.date }}</strong>
  <br />Member Name:
  <strong>{{ rsvp.user.get_full_name() }}</strong>
  <br />Adults:
  <strong>{{ rsvp.number_of_adults }}</strong>
  {#
  <br />Children:
  <strong>{{ rsvp.number_of_children }}</strong> #} 
</p>

   {% if rsvp.guest_data or rsvp.children.exists() %}
  <p>
    In addition, {{rsvp.user.first_name}} also registered for the following guests:
  </p>
  
  {% if rsvp.guest_data %}
  <p>
    <strong>Non-members</strong>
    {% for guest in rsvp.guest_data %}
    <div>{{guest.name}}</div>
    {% endfor %}
  </p>
  {% endif %} 
  
  {% if rsvp.children.exists() %}
  <p>
    <strong>Members</strong>
    <br>
    <div>Members will each receive individual emails.</div>
    <br> {% for child in rsvp.children.all() %}
    <div>{{child.user.first_name}} {{child.user.last_name}} ({{child.user.membership_number}})</div>
    {% endfor %}
  </p>
  {% endif %} 
  
{% endif %}
<p>
  {% if rsvp.event.custom_question_1 %}
  <br />{{ rsvp.event.custom_question_1 }}:
  <strong>{{ rsvp.custom_answer_1 }}</strong>
  {% endif %} {% if rsvp.event.custom_question_2 %}
  <br />{{ rsvp.event.custom_question_2 }}:
  <strong>{{ rsvp.custom_answer_2 }}</strong>
  {% endif %} {% if rsvp.event.custom_question_3 %}
  <br />{{ rsvp.event.custom_question_3 }}:
  <strong>{{ rsvp.custom_answer_3 }}</strong>
  {% endif %} {% if rsvp.event.custom_question_4 %}
  <br />{{ rsvp.event.custom_question_4 }}:
  <strong>{{ rsvp.custom_answer_4 }}</strong>
  {% endif %} {% if rsvp.event.custom_question_5 %}
  <br />{{ rsvp.event.custom_question_5 }}:
  <strong>{{ rsvp.custom_answer_5 }}</strong>
  {% endif %}
</p>

<p>
  {% if rsvp.notes %}
  Notes: 
  <strong>{{ rsvp.notes }}</strong>
  {% endif %}
</p>

<p>
  Confirmation number:
  <strong>{{ rsvp.confirmation_number }}</strong>
</p>