<div class="social-bar noprint">
    <a href="https://www.youtube.com/user/ClubLinkTV" class="social-icon youtube" target="_blank"></a>
    <a href="https://twitter.com/clublink" class="social-icon twitter" target="_blank"></a>
    <a href="https://www.facebook.com/ClubLink/" class="social-icon facebook" target="_blank"></a>
    <a href="https://instagram.com/clublinkgolf" class="social-icon instagram" target="_blank"></a>
</div>
