{% extends base_template %}

{% block header %}
  {{ page_header(image=static('generic-header.jpg'), headline=_('Registration')) }}
{% endblock %}

{% block main %}
  <div class="wrapper">
    <h2></h2>
    <p class="centered">
      {% trans %}
        You have not yet set up your account on the new member portal.
      {% endtrans %}
    </p>
    <p class="centered">
      {% trans %}
        We have sent you an email with instructions on how to set up a new password.
      {% endtrans %}
    </p>
    <p class="centered">
      {% trans %}
        If you do not receive an email please contact Member Services at
        <a href="mailto:memberservices@clublink.ca">memberservices@clublink.ca</a> or
        <span class="no-wrap">1-800-273-5113</span>.
      {% endtrans %}
    </p>
    <div class="centered">
      <a class="button" href="{{ url('login') }}">← {{ _('Back to Login') }}</a>
    </div>
  </div>
{% endblock %}
