{% extends base_template %}

{% block header %}
  {{ page_header(image=static('generic-header.jpg'), headline=_('Forgotten Password')) }}
{% endblock %}

{% block main %}
  <div class="wrapper">
    <h2></h2>

    <p class="centered">
      {% trans %}
        Enter your membership number to start the process of resetting your password.
      {% endtrans %}
    </p>

    <form action="" method="post" novalidate>
      {{ form.non_field_errors() }}
      {{ csrf_input(csrf_token) }}
      {{ form_field(form.username) }}
      <input type="submit" value="{{ _('Submit') }}" />
    </form>

    <div class="centered">
      <a href="{{ url('login') }}">← {{ _('Back to Login') }}</a>
    </div>
  </div>
{% endblock %}
